.main3{padding-bottom:40px}
.menucase{text-align:center;padding:30px 0 45px 0}
/*.menucase a{font-size:28px;line-height:36px;color:#666;font-family:bentonsans-thin,arial;border-right:1px solid #999;padding:0 32px}*/
/*.menucase a:hover{color:#000;@font-weight:600 }*/
.menucase a {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    font-family: bentonsans-thin,arial;
    /* border-right: 1px solid #999; */
    padding: 0 44px;
    background: #999;

    height: 40px;
    margin-left: 1px;
    display: inline-block;
}
.menucase a:hover {
    background: red;
    color: #fff;
    background: url(../images/li.png) center top no-repeat;
    height: 45px;
}
.menucase a.currentNav{color:#000;font-weight:600}
.menucase #mct4{border-right:none}
.endcase{height:53px;background:url(../images/end.png) center top no-repeat;padding-bottom:76px}
.showmorecase{background:#999;font-size:16px;text-align:center;line-height:36px;color:#fff}
.showmorecase a{color:#fff}
.menucasei{padding:0px 0 40px 0}
.menucasei a{font-size:20px}
.left_2{width:50px;min-width:50px;height:50px;background:url(../images/left_2.jpg) left top no-repeat;position:absolute;left:50%;margin-left:-25px;z-index:99;top:80%}
.left_2 a{height:50px;display:block}
.slideBox{width:382px;height:276px;overflow:hidden;position:relative}
.slideBox .hd{height:15px;overflow:hidden;position:absolute;right:5px;bottom:5px;z-index:1}
.slideBox .hd ul{overflow:hidden;zoom:1;float:left}
.slideBox .hd ul li{float:left;margin-right:2px;width:12px;height:12px;line-height:12px;text-align:center;background:#fff;cursor:pointer;border-radius:50%;filter:alpha(Opacity=60);-moz-opacity:.6;opacity:.6}
.slideBox .hd ul li.on{filter:alpha(Opacity=100);-moz-opacity:1;opacity:1}
.slideBox .bd{position:relative;height:100%;z-index:0}
.slideBox .bd li{zoom:1;vertical-align:middle}
.slideBox .bd img{width:382px;height:276px;display:block}
.slideBox .next,.slideBox .prev{position:absolute;left:3%;top:50%;margin-top:-25px;display:block;width:32px;height:40px;background:url(../images/slider-arrow.png) -110px 5px no-repeat;filter:alpha(Opacity=20);-moz-opacity:.2;opacity:.2}
.slideBox .next{left:auto;right:3%;background-position:8px 5px}
.slideBox .next:hover,.slideBox .prev:hover{filter:alpha(Opacity=100);-moz-opacity:1;opacity:1}
.slideBox .prevStop{display:none}
.slideBox .nextStop{display:none}
.pfont1{font-size:72px;line-height:72px;font-family:Arial,Helvetica;font-weight:700;padding:20px 0}
.pfont2{font-size:28px}
.pfont3{font-size:48px;font-weight:700;padding:20px 0}
.pro1{height:800px;min-width:1200px;background:url([news:P_img]) center top no-repeat fixed}
.pro2{padding:50px 0;min-width:1200px}
.pro2 .procnt{width:950px;min-width:950px;height:auto;overflow:hidden}
.pro2 .procnt h1.ttl{font-size:24px;line-height:36px;padding:50px 0;@background:url(../images/line3.jpg) left top no-repeat}
.pro2 .procnt .proinfo{padding:0 0 40px 0;min-height:142px}
.pro2 .procnt .proinfo img{width:auto;max-width:800px;margin-top:30px}
.pro2 .procnt .proinfo p{font-size:14px;line-height:1.6;margin-bottom:5px}
.pro2 .procnt .proinfo .pdline5{width:100%;height:1px;overflow:hidden;background:url(../images/line5.jpg) left top no-repeat;margin:26px 0}
.pro2 .procnt .proinfo .pdencnt p{font-size:16px}
.pro2 .proriqi{width:170px;height:auto;overflow:hidden;position:absolute;left:50%;margin-left:360px;background:#fff;padding-left:70px}
.pro2 .proriqi .p1{font-size:14px;line-height:16px}
.pro2 .proriqi .p2{font-size:36px;line-height:40px;padding:17px 0 10px 0;font-family:bentonsans-thin}
.pro2 .proriqi .p3{font-size:px;line-height:px}
.pro2 .proriqi .tobottom1{margin-top:50px;padding-top:0}
#prnav{width:110px;left:50%;top:50%;margin:-200px 0 0 -730px;position:fixed;background:url(../images/lines2.jpg) left top repeat-y;padding:50px 0 100px 0}
#prnav a{color:#999;display:block;font-size:14px;line-height:50px;text-decoration:none;text-transform:uppercase;padding:0 0 0 30px}
#prnav a:hover{color:#000;background:url(../images/lines1.jpg) left top repeat-y}
#prnav .current a{color:#000;background:url(../images/lines1.jpg) left top repeat-y}
#proinfocs{min-width:1200px}
.proinfocs{min-height:20px;line-height:1.6;padding:60px 0 0 0}
.prodt1{padding:90px 0 150px 0;background:url(../images/l6_10.jpg) center top repeat-y #fff;margin-bottom:30px}
.prodt1cntmore{font-size:24px;line-height:56px;background:url(../images/line1.jpg) right top no-repeat;text-align:right}
.prodt1cnt2,.prodt1cnt3{padding:60px 0 0 0}
.prodt1cnt2 img,.prodt1cnt3 img{margin-bottom:20px;margin-top:10px}
.imginfo img{margin-bottom:20px;margin-top:10px}
.w400{width:320px;padding-right:80px}
.w400 .p1{font-size:36px;line-height:100px}
.w400 .p2 p{line-height:1.4;margin:0}
.picScroll-left{overflow:hidden;position:relative;padding:30px 0 0 0}
.picScroll-left .bd{padding:0}
.picScroll-left .bd ul{overflow:hidden;zoom:1}
.picScroll-left .bd ul li{width:590px;margin:0 5px;float:left;overflow:hidden;text-align:center}
.picScroll-left .bd ul li .pic{text-align:center}
.picScroll-left .bd ul li .pic a{height:840px;display:block}
.picScroll-left .hd{width:1180px;height:25px;overflow:hidden;background:#;padding:20px 0;text-align:center;margin:0 auto}
.picScroll-left .hd .next,.picScroll-left .hd .prev{display:block;width:32px;height:25px;float:right;overflow:hidden;cursor:pointer;background:url(../images/case2.png) 0 0 no-repeat}
.picScroll-left .hd .next{background-position:-52px 0}
.picScroll-left .hd .prevStop{background-position:-60px 0}
.picScroll-left .hd .nextStop{background-position:-60px -50px}
.picScroll-left .hd ul{width:1070px;height:auto;overflow:hidden;margin:0 auto;zoom:1;float:left;text-align:center}
.picScroll-left .hd ul li{display:inline-table;width:100px;height:25px;overflow:hidden;text-indent:-999px;cursor:pointer;background:url(../images/l6_42.jpg) left 12px repeat-x}
.picScroll-left .hd ul li.on{background-position:0 -29px}
.picScroll-left .pageState span{font-weight:700}
.proinfocs .h950{height:950px;background-repeat:no-repeat;background-position:center top;background-attachment:fixed}
.proinfocs .h950 img{display:none}
.proinfocs .imginfo{padding:60px 0 0 0}
.proinfocs .imginfo img{width:auto;max-width:1200px;margin-bottom:30px}
.proinfocs .h950 .h950img{width:1200px;min-width:1200px;height:auto;overflow:hidden;margin:0 auto;padding-top:100px}
.proinfocs .h950 .h950img img{display:block}
.proinfomenu{overflow:hidden}
.prodgoback{text-align:center;line-height:1.5;padding:80px 0;border-bottom:1px solid #B6B6B7;margin-bottom:60px}
.prodgoback a{font-size:16px;color:#5F5D5D;margin:0 10px}
.slideBoxprodetail{width:100%;min-width:1200px;height:950px;overflow:hidden;position:relative}
.slideBoxprodetail .bd{position:relative;height:100%;z-index:0}
.slideBoxprodetail .bd li{zoom:1;height:950px;vertical-align:middle;background-position:center;background-repeat:no-repeat;background-size:cover;background-attachment:fixed}
.slideBoxprodetail .next,.slideBoxprodetail .prev{position:absolute;left:3%;top:50%;margin-top:-25px;display:block;width:32px;height:40px;background:url(../images/slider-arrow.png) -110px 5px no-repeat;filter:alpha(opacity=50);opacity:.5}
.slideBoxprodetail .next{left:auto;right:3%;background-position:8px 5px}
.slideBoxprodetail .next:hover,.slideBoxprodetail .prev:hover{filter:alpha(opacity=100);opacity:1}
.slideBoxprodetail .prevStop{display:none}
.slideBoxprodetail .nextStop{display:none}
